--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.4.0+cu121
torchvision==0.19.0+cu121

fastapi>=0.111.0
uvicorn[standard]>=0.29.0
vllm==0.5.5
llmcompressor
numpy
httpx
aiosqlite