# Python & Environments
.venv/
venv/
env/
**/__pycache__/
*.py[cod]
*$py.class
*.so
*.dylib
*.dll
build/
dist/
*.egg-info/

# Tunnels & Binaries
wstunnel*
*.exe

# OS & Temp
*Zone.Identifier
.DS_Store
Thumbs.db
.vscode/
.idea/
